.section1 .img1 > .img__12, .section1 .img2 > .img__12 {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  box-shadow: rgba(220, 82, 82, 0.3) 0px 0px 0px 3px; }

.section3 .section3__img > .imgsection3, .section3 .section3__spotify .spotify {
  width: 500px;
  height: 400px;
  border-radius: 15px; }

.section1 .img3, .section3 .section3__img, .section3 .section3__spotify .spotify, .disco__img, .galVideos .gal__vid, .text12 .img1__bio, .iframe .iframe__video {
  box-shadow: 0px 0px 80px 10px rgba(255, 255, 255, 0.4);
  border-radius: 15px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  writing-mode: horizontal-tb;
  background-color: #000; }

h1 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 50px 60px;
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

p {
  line-height: 2; }

@media (max-width: 1024px) {
  body {
    font-size: 10px; }
  .media__imglogoder {
    display: none; }
  footer h6 {
    font-size: 10px; } }

.navbar {
  background: black;
  background: linear-gradient(180deg, black 0%, #420b0b 18%, #ac0000 39%, red 50%, #a30000 61%, #450f0f 82%, black 100%); }
  .navbar .nav-item {
    padding: 0 15px; }
    .navbar .nav-item .nav-link {
      color: #000;
      font-weight: bold; }
      .navbar .nav-item .nav-link:hover {
        transform: scale(1.5);
        transition: 1s;
        color: #fff; }

.div_nav {
  display: flex;
  justify-content: flex-end; }

.imgLogoIzq {
  width: 150px;
  height: 150px;
  margin-left: 30px; }
  .imgLogoIzq:hover {
    transform: scale(1.5);
    transition: 1.5s; }

.footer {
  background-color: gray;
  display: flex;
  flex-direction: column;
  background: black;
  background: linear-gradient(180deg, black 0%, #420b0b 18%, #ac0000 39%, red 50%, #a30000 61%, #450f0f 82%, black 100%); }
  .footer .footer__container1 .footer__container1-title {
    text-align: center;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px; }
  .footer .footer__container1 .footer__container1-redes {
    display: flex;
    justify-content: center;
    margin: 10px 0; }
    .footer .footer__container1 .footer__container1-redes .rs {
      padding: 0 30px; }
    .footer .footer__container1 .footer__container1-redes .rs-github {
      color: #fff;
      font-size: 22px;
      transition: 1s; }
      .footer .footer__container1 .footer__container1-redes .rs-github:hover {
        color: #3e4143; }
    .footer .footer__container1 .footer__container1-redes .rs-linkedin {
      color: #fff;
      font-size: 22px;
      transition: 1s; }
      .footer .footer__container1 .footer__container1-redes .rs-linkedin:hover {
        color: #0033ff; }
    .footer .footer__container1 .footer__container1-redes .rs-tw {
      color: #fff;
      font-size: 22px;
      transition: 1s; }
      .footer .footer__container1 .footer__container1-redes .rs-tw:hover {
        color: #3bc1ff; }
  .footer .foooter__container2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px; }

.section1 {
  margin-top: 30px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imagen1 imagen1 texto1 imagen2 imagen2" "texto2 texto2 imagen3 imagen3 imagen3"; }
  .section1 .img1 {
    grid-area: imagen1; }
  .section1 .text1 {
    grid-area: texto1;
    font-size: 12px;
    text-align: center; }
  .section1 .img2 {
    grid-area: imagen2; }
  .section1 .text2 {
    grid-area: texto2;
    text-align: center;
    margin: 0 50px; }
    .section1 .text2 .text2__class {
      font-size: 17px; }
  .section1 .img3 {
    grid-area: imagen3;
    margin-top: 30px; }
    .section1 .img3 > .img3__class {
      width: 600px;
      height: 350px;
      border-radius: 15px; }

.section2 {
  margin: 100px 0;
  display: flex;
  flex-direction: column; }
  .section2 .section2__title {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 50px;
    -webkit-animation: blur-out-expand 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
    animation: blur-out-expand 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
    animation-iteration-count: infinite;
    animation-duration: 6s; }
  .section2 .section2__text1 .section2__text12 {
    text-align: center;
    padding: 0 100px;
    font-size: 17px; }

@-webkit-keyframes blur-out-expand {
  0% {
    animation-delay: 2s;
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

@keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01); }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%); } }

.section3 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "imgdisco list" "textofinal textofinal"; }
  .section3 .section3__img {
    grid-area: imgdisco; }
  .section3 .section3__spotify {
    grid-area: list; }
  .section3 .section3__text {
    grid-area: textofinal; }
    .section3 .section3__text .parrafoFinal {
      text-align: center;
      padding: 0 100px;
      font-size: 17px; }

@media (max-width: 1024px) {
  .section1 {
    display: flex;
    flex-direction: column;
    font-size: 10px; }
    .section1 .img1 .img__12 {
      width: 300px;
      height: 300px; }
    .section1 .text1 {
      margin: 30px 150px; }
    .section1 .text2 {
      margin: 30px 150px; }
      .section1 .text2 .text2__class {
        font-size: 10px; }
  .section2 .section2__title {
    font-size: 15px; }
  .section2 .section2__text1 .section2__text12 {
    font-size: 10px; }
  .section3 {
    display: flex;
    flex-direction: column; }
    .section3 .section3__img .imgsection3 {
      width: 400px;
      height: 400px;
      margin-bottom: 15px; }
    .section3 .section3__spotify .spotify {
      width: 300px;
      height: 300px; }
    .section3 .section3__text .parrafoFinal {
      margin-top: 15px;
      font-size: 10px; } }

@media (max-width: 768px) {
  .section1 .img3 .img3__class {
    width: 400px;
    height: 300px; } }

@media (max-width: 480px) {
  .section1 .img1 .img__12 {
    width: 250px;
    height: 250px; }
  .section1 .text1 {
    margin: 30px 50px; }
  .section1 .text2 {
    margin: 30px 50px; }
  .section1 .img3 .img3__class {
    width: 300px;
    height: 250px; }
  .section2 .section2__text1 {
    margin: 20px 50px; }
    .section2 .section2__text1 .section2__text12 {
      padding: 0; }
  .section3 .section3__img .imgsection3 {
    width: 300px;
    height: 250px; }
  .section3 .section3__text .parrafoFinal {
    font-size: 8px; } }

@media (max-width: 320px) {
  .section1 .img1 .img__12 {
    width: 200px;
    height: 200px; }
  .section1 .text1 .text1__class {
    font-size: 8px; }
  .section1 .img3 .img3__class {
    width: 200px;
    height: 200px; }
  .section2 {
    margin: 30px 0px; }
    .section2 .section2__title {
      margin-bottom: 5px; }
    .section2 .section2__text1 .section2__text12 {
      font-size: 8px;
      padding: 0;
      margin: 5px 50px; }
  .section3 .section3__img .imgsection3 {
    width: 200px;
    height: 200px; }
  .section3 .section3__spotify .spotify {
    width: 200px;
    height: 200px; }
  .section3 .section3__text .parrafoFinal {
    padding: 30px; } }

.containerdiscos1 {
  display: flex;
  justify-content: space-evenly;
  margin: 70px 20px; }

.containerdiscos2 {
  display: flex;
  justify-content: space-between;
  margin: 70px 40px; }

.containerdiscos3 {
  display: flex;
  justify-content: space-around;
  margin: 70px 20px; }

.containerdiscos4 {
  display: flex;
  justify-content: space-evenly;
  margin: 70px 20px; }

.disco__img {
  width: 200px;
  height: 200px; }
  .disco__img:hover {
    transform: scale(1.3);
    transition: 1s; }

@media (max-width: 1024px) {
  .disco__img {
    width: 200px;
    height: 200px; } }

@media (max-width: 840px) {
  .disco__img {
    width: 150px;
    height: 150px; } }

@media (max-width: 660px) {
  .disco__img {
    width: 100px;
    height: 100px; } }

@media (max-width: 460px) {
  .disco__img {
    width: 80px;
    height: 80px; } }

.carousel-inner {
  width: 100%;
  max-height: 500px; }

.galVideos {
  display: flex;
  justify-content: center; }
  .galVideos .gal__vid {
    margin: 80px; }

@media (max-width: 1024px) {
  .galVideos {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 600px) {
  .gal__vid {
    width: 300px;
    height: 300px; } }

.text12 {
  display: flex;
  margin: 50px; }
  .text12 .text1__bio {
    margin: 0px 70px;
    line-height: 3.5;
    color: #fff;
    font-weight: bold;
    text-align: center; }

.link {
  text-align: center;
  margin: 20px;
  padding: 15px; }
  .link .link__wiki {
    list-style-type: none;
    text-decoration: none;
    color: #fff; }

.iframe {
  display: flex;
  margin: 50px;
  justify-content: center; }
  .iframe .iframe__video {
    width: 900px;
    height: 450px; }

@media (max-width: 1024px) {
  .text12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; }
    .text12 .text1__bio {
      line-height: 2;
      font-size: 15px;
      margin: 50px 100px; }
    .text12 .img1__bio {
      width: 500px;
      height: 400px; }
  .iframe .iframe__video {
    width: 700px;
    height: 400px; } }

@media (max-width: 768px) {
  .text12 .text1__bio {
    font-size: 13px; }
  .text12 .img1__bio {
    width: 500px; }
  .iframe .iframe__video {
    width: 500px; } }

@media (max-width: 600px) {
  .text12 .text1__bio {
    font-size: 10px; }
  .text12 .img1__bio {
    margin-top: 15px;
    width: 400px; }
  .iframe .iframe__video {
    width: 400px; } }

@media (max-width: 480px) {
  .text12 .text1__bio {
    margin: 20px 50px;
    line-height: 1.5; }
  .text12 .img1__bio {
    width: 300px;
    height: 300px; }
  .iframe .iframe__video {
    width: 300px;
    height: 300px; } }
