.text12 {
    display: flex;
    margin: 50px;
    .text1__bio {
        margin: 0px 70px;
        line-height: 3.5;
        color: $blank;
        font-weight: bold;
        text-align: center;
    }
    .img1__bio {
        @extend %sombra;
    }
}
.link {
    text-align: center;
    margin: 20px;
    padding: 15px;
    .link__wiki {
        list-style-type: none;
        text-decoration: none;
        color: $blank;
    }
}
.iframe {
    display: flex;
    margin: 50px;
    justify-content: center;
    .iframe__video {
        @include tamanos(900px, 450px);
        @extend %sombra;        
    }
}




@media (max-width: 1024px) {
    .text12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        .text1__bio {
            line-height: 2;
            font-size: 15px;
            margin: 50px 100px;
        }
        .img1__bio {
            width: 500px;
            height: 400px;
        }
    }
    .iframe {
        .iframe__video {
            width: 700px;
            height: 400px;
        }
    }
}
@media (max-width: 768px) {
    .text12 {
        .text1__bio {
            font-size: 13px;
        }
        .img1__bio {
            width: 500px;
        }
    }
    .iframe {
        .iframe__video {
            width: 500px;
        }
    }
}
@media (max-width: 600px) {
    .text12 {
        .text1__bio {
            font-size: 10px;
        }
        .img1__bio {
            margin-top: 15px;
            width: 400px;
        }
    }
    .iframe {
        .iframe__video {
            width: 400px;
        }
    }
}
@media (max-width: 480px) {
    .text12 {
        .text1__bio {
            margin: 20px 50px;
            line-height: 1.5;
        }
        .img1__bio {
            width: 300px;
            height: 300px;
        }
    }
    .iframe {
        .iframe__video {
            width: 300px;
            height: 300px;
        }
    }
}