.containerdiscos1 {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 20px;
}
.containerdiscos2 {
    display: flex;
    justify-content: space-between;
    margin: 70px 40px;
}
.containerdiscos3 {
    display: flex;
    justify-content: space-around;
    margin: 70px 20px;
}
.containerdiscos4 {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 20px;
}
.disco__img {
    @include tamanos(200px, 200px);
    @extend %sombra;
    &:hover {
        transform: scale(1.3);
        transition: 1s;
    }
}



@media (max-width: 1024px) {
    .disco__img {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 840px) {
    .disco__img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 660px) {
    .disco__img {
        width: 100px;
        height: 100px;
    }
}  
@media (max-width: 460px) {
    .disco__img {
        width: 80px;
        height: 80px;
    }
}