
.section1 {
    margin-top: 30px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "imagen1 imagen1 texto1 imagen2 imagen2"
    "texto2 texto2 imagen3 imagen3 imagen3";
    .img1 {
        grid-area: imagen1;
        > .img__12 {
            @extend %imgindex;
        }
    }
    .text1 {
        grid-area: texto1;
        font-size: $fontsmall;
        text-align: center;
    }
    .img2 {
        grid-area: imagen2;
        > .img__12 {
            @extend %imgindex;
        }
    }
    .text2 {
        grid-area: texto2;
        text-align: center;
        margin: 0 50px;
        .text2__class {
            font-size: $fontmedium;
        }
    }
    .img3 { 
        grid-area: imagen3;
        margin-top: 30px;
        @extend %sombra;
        > .img3__class {
            width: 600px;
            height: 350px;
            border-radius: 15px;
        }
    }

}

.section2 {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    .section2__title {
        text-align: center;
        color: $blank;
        font-size: $fontlarge;
        margin-bottom: 50px;
        -webkit-animation: blur-out-expand 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: blur-out-expand 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
            animation-iteration-count: infinite;
            animation-duration: 6s;
    }
    .section2__text1 {
        .section2__text12 {
            text-align: center;
            padding: 0 100px;
            font-size: $fontmedium;
        }
    }
}

@-webkit-keyframes blur-out-expand {
    0% {
        animation-delay: 2s;
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes blur-out-expand {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: 1em;
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
}
  
.section3 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "imgdisco list"
    "textofinal textofinal";
    .section3__img {
        grid-area: imgdisco;
        @extend %sombra;
        > .imgsection3 {
            @extend %widheibord;
        }
    }
    .section3__spotify {
        grid-area: list;
        .spotify {
            @extend %widheibord;
            @extend %sombra;
        }
    }
    .section3__text {
        grid-area: textofinal;
        .parrafoFinal {
            text-align: center;
            padding: 0 100px;
            font-size: $fontmedium;
        }
    }
}


