.section_opinion {
    margin: 100px 0;

}
.pa-opinion {
    animation: neonEffect 5s infinite;
}
@keyframes neonEffect {
    0%, 35%, 45%, 65%, 100% {
        text-shadow:
        white 0 0 12px,
        #EFFD6D 0 0 24px,
        #EFFD6D 0 0 36px;
    }
    40%, 60% {
        text-shadow: none;
    }
}
@media (max-width: 767px) {
    .section_opinion {
        margin: 0;
    }
}