.footer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,11,11,1) 18%, rgba(172,0,0,1) 39%, rgba(255,0,0,1) 50%, rgba(163,0,0,1) 61%, rgba(69,15,15,1) 82%, rgba(0,0,0,1) 100%);
    .footer__container1 {
        .footer__container1-title{
                text-align: center;
                color: $blank;
                font-size: $fontmedium;
                font-weight: bold;
                margin-top: 30px;
        }
        .footer__container1-redes {
            display: flex;
            justify-content: center;
            margin: 10px 0;
            .rs {
                padding: 0 30px;
            }
            $icon: (
                github: #3e4143,
                linkedin: #0033ff,
                tw: #3bc1ff,
            );
            @each $nombreRedes, $colorRedes in $icon {
                .rs-#{$nombreRedes} {
                 color: $blank;
                 font-size: $fontlarge;
                 transition: 1s;
                 &:hover {
                     color: $colorRedes;
                 }
                }
             }


        }
    }
    .foooter__container2 {
        text-align: center;
        color: $blank;
        margin-bottom: 30px;
    }
    
}

    