@media (max-width: 1024px) {
    body {
        font-size: 10px;
    }
    .media__imglogoder {
        display: none;
    }
    .section1 {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .img__12 {
        width: 300px;
        height: 300px;
    }
    .text1 {
        margin: 30px 150px;
    }
    .text2 {
        margin: 30px 150px;
    }
    .text2__class {
        font-size: 10px;
    }
    .section2__title {
        font-size: 15px;
    }
    .section2__text {
        font-size: 10px;
    }
    .section3 {
        display: flex;
        flex-direction: column;
    }
    .imgsection3 {
        width: 400px;
        height: 400px;
        margin-bottom: 15px;
    }
    .spotify {
        width: 300px;
        height: 300px;
    }
    .parrafoFinal {
        margin-top: 15px;
        font-size: 10px;
    }
    footer h6 {
        font-size: 10px;
    }
    /* MEDIA PAGINA DISCOGRAFIA */
    .discos1 {
        display: flex;
        flex-direction: column;
    }
    .eminemshow__text {
        margin: 5px 120px;
    }
    .eminemshow__spo {
        margin-bottom: 50px;
    }
    .infinite__text {
        margin: 5px 120px;
    }
    .discos2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mmlp__text {
        margin: 5px 120px;
        text-align: center;
    }
    .mmlp__spo {
        margin-bottom: 50px;
    }
    .slimshady__text {
        margin: 5px 120px;
        text-align: center;
    }
    .discos3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .encore__text {
        margin: 5px 120px;
        text-align: center;
    }
    .encore__spo {
        margin-bottom: 50px;
    }
    .relapse__text {
        margin: 5px 120px;
        text-align: center;
    }
    .disco__img {
        width: 400px;
        height: 400px;
    }
    /* MEDIA PARA PAGINA BIO */
    .text12 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text1__bio {
        font-size: 13px;
        margin: 0;
    }
    .img1__bio {
        width: 700px;
        height: 400px;
    }
    .iframe__video {
        width: 700px;
        height: 400px;
    }
    /* PAGINA GALERIA  */
    .galVideos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .img3__class {
        width: 400px;
        height: 300px;
    }
    /* PAGINA BIOGRAFIA */
    .text1__bio {
        font-size: 13px;
    }
    .img1__bio {
        width: 500px;
    }
    .iframe__video {
        width: 500px;
    }
}
@media (max-width: 600px) {
    /* PAGINA DISCOGRAFIA */
    .eminemshow__text {
        margin: 5px 50px;
    }
    .infinite__text {
        margin: 5px 50px;
    }
    .mmlp__text {
        margin: 5px 50px;
    }
    .slimshady__text {
        margin: 5px 50px;
    }
    .encore__text {
        margin: 5px 50px;
    }
    .relapse__text {
        margin: 5px 50px;
    }
    /* PAGINA BIOGRAFIA  */
    .text1__bio {
        font-size: 10px;
    }
    .img1__bio {
        margin-top: 15px;
        width: 400px;
    }
    .iframe__video {
        width: 400px;
    }
    /* PAGINA GALERIA */
    .gal__vid {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 480px) {
    .img__12 {
        width: 250px;
        height: 250px;
    }
    .text1 {
        margin: 30px 50px;
    }
    .text2 {
        margin: 30px 50px;
    }
    .img3__class {
        width: 300px;
        height: 250px;
    }
    .section2__text1 {
        margin: 20px 50px;
    }
    .section2__text12 {
        padding: 0;
    }
    .imgsection3 {
        width: 300px;
        height: 250px;
    }
    /* PAGINA DISCOGRAFIA */
    .disco__img {
        display: none;
    }
    .eminemshow__text {
        margin: 5px 10px;
    }
    .infinite__text {
        margin: 5px 10px;
    }
    .mmlp__text {
        margin: 5px 10px;
    }
    .slimshady__text {
        margin: 5px 10px;
    }
    .encore__text {
        margin: 5px 10px;
    }
    .relapse__text {
        margin: 5px 10px;
    }
    /* PAGINA BIOGRAFIA */
    .text1__bio {
        margin-top: 0;
        line-height: 1.5;
    }
    .img1__bio {
        width: 300px;
        height: 300px;
    }
    .iframe__video {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 320px) {
    .img__12 {
        width: 200px;
        height: 200px;
    }
    .text1__class {
        font-size: 8px;
    }
    .img3__class {
        width: 200px;
        height: 200px;
    }
    .section2 {
        margin: 30px 0px;
    }
    .section2__title {
        margin-bottom: 5px;
    }
    .section2__text12 {
        font-size: 8px;
        padding: 0;
        margin: 5px 50px;
    }
    .imgsection3 {
        width: 200px;
        height: 200px;
    }
    .spotify {
        width: 200px;
        height: 200px;
    }
    .parrafoFinal {
        padding: 30px;
    }
    /* PAGINA DISCOGRAFIA  */
    
    .disco__img {
        display: inline;
        width: 150px;
        height: 150px;
    }
    .eminemshow__text {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .eminemshow__spo {
        display: none;
    }
    .infinite__text {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .infinite__spo {
        display: none;
    }
    .mmlp__text {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .mmlp__spo {
        display: none;
    }
    .slimshady__text {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .slimshady__spo {
        display: none;
    }
    .encore__text {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .encore__spo {
        display: none;
    }
    .relapse__text {
        font-size: 10px;
        margin-bottom: 30px;
    }
    .relapse__spo {
        display: none;
    }
}