
.navbar {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(66,11,11,1) 18%, rgba(172,0,0,1) 39%, rgba(255,0,0,1) 50%, rgba(163,0,0,1) 61%, rgba(69,15,15,1) 82%, rgba(0,0,0,1) 100%);
    .nav-item {
        padding: 0 15px;
        .nav-link {
            color: $black;
            font-weight: bold;
            &:hover {
                transform: scale(1.5);
                transition: 1s;
                color: $blank;
            }
        }
    
    }
}
.div_nav {
    display: flex;
    justify-content: flex-end;
}

.imgLogoIzq {
    width: 150px;
    height: 150px;
    margin-left: 30px;
    &:hover {
        transform: scale(1.5);
        transition: 1.5s;
    }
 }

@media (max-width: 991px) {
    .div_nav {
        display: flex;
        justify-content: center;
        .navbar-nav {
            flex-direction: row;
            .nav-item {
                padding: 0 70px;
                .nav-link {
                    color: $blank;
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}
@media (max-width: 800px) {
    .div_nav {
        .navbar-nav {
            .nav-item {
                padding: 0 40px;
            }
        }
    }
    
}
@media (max-width: 560px) {
    .div_nav {
        .navbar-nav {
            .nav-item {
                padding: 0 15px;
            }
        }
    }
}