header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 6%, rgba(87,16,16,1) 20%, rgba(226,167,167,1) 49%, rgba(103,38,38,1) 80%, rgba(15,14,14,1) 93%);
    > nav ul {
        list-style-type: none;
        > li {
            font-size: 15px;
            font-weight: bold;    
            display: inline-block;
            margin: 20px;
            padding: 15px; 
            background-color: #000;
            border-radius: 5px;
            box-shadow: 0px 0px 70px 20px rgba(0, 0, 0, 0.6);
            > a {
                color: #fff;   
                text-decoration: none;
            } 
        }
    }
}

.li__nav:hover {
    transform: translateX(20px);
    transition: 1s;
}
.nav__background__img {
    background-image: url("/assets/img/BACK_NAV2.jpg");
    background-size: cover;
}
.imgLogoIzq {
    width: 100px;
    height: 100px;
    border-radius: 15px;

}